.centered {
    text-align: center;
    padding: 40px 25px;
}

h2 mark {
    font-size: 135%;
    font-weight: bold;
    font-style: italic;
}

textarea.server-log {
  min-width:800;
  min-height:200;
}

#result-dialog {
  display:hidden;
}