{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{% static 'spidersitex/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'spidersitex/css/jquery-ui.structure.css' %}">
  <link rel="stylesheet" href="{% static 'spidersitex/css/jquery-ui.theme.css' %}">
  <link rel ="stylesheet" href="{% static 'spidersitex/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'spidersitex/css/master.css' %}">
  <script src="{% static 'spidersitex/js/jquery.js' %}" type="text/javascript"></script>
  <script src="{% static 'spidersitex/js/jquery-ui.js' %}" type="text/javascript"></script>
  {% block in_head %}{% endblock %}
  <title>{% block subtitle %}{% endblock %} - Spider Site</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Spider Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'spider_list' %}">spider list</a></li>
      <li><a href="{% url 'digitalocean_options' %}">Digitalocean &reg;</a></li>
    </ul>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% block right_links %}{% endblock %}
        {% include "_greeter.html" %}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="centered">
    {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>