{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block subtitle %}DigitalOcean&reg; Options{% endblock %}
{% block in_head %}
  <script src="{% static 'spidersitex/js/dialog_snippet.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation"><a href="{% url 'reboot_clients' %}">Reboot Clients 
      <span class="badge">{{ clone_count }}</span></a></li>
    <li role="presentation"><a href="{% url 'destroy_clients' %}">Destroy Clients <span class="badge">{{ clone_count|add:"-1" }}</span></a></li>
  </ul>
  <form method="POST" action="{% url 'clone_clients' %}" class="form-horizontal">{% csrf_token %}
      {{ form|bootstrap }}
    <button class="btn btn-primary" type="submit">Clone now!</button
  </form>
  </div>
</div>
{% include "_dialog_div.html" %}
{% endblock %}