{% extends "base.html" %}
{% block subtitle %}Control Panel{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Hi!</h1>
  <p>This is the spider control room. Here you can view information about spiders, perform functions
  with them like starting, stopping, pausing and resuming. You can even download their data!</p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'spider_list' %}" role="button">See Spiders</a></p>
</div>
{% endblock %}