{% extends "base.html" %}
{% block subtitle %}Spider List{% endblock %}
{% block content %}
  <h1 class="page-header">Spider Listing</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="lead">Here you'll see the available spiders. Click on any spider to view it's
      state and also control it</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="list-group">
        {% for spider in spiders %}
          <a href="{% url 'spider_details' spider.id %}" class="list-group-item">{{spider.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</table>
{% endblock %}