{% extends "base.html" %}
{% load staticfiles %}
{% block subtitle %}{{ spider_name }}  Details{% endblock %}
{% block in_head %}
  <script type="text/javascript" src="{% static 'spidersitex/js/dialog_snippet.js' %}">
  </script>
  <style>
  form {
    display:inline;
  }
  </style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
  <h2>{{ spider_name }} Statistics</h2>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>State</th>
        <th>Time to wakeup</th>
        <th>Record Count</th>
        <th>Last hour count</th>
        <th>Time Taken</th>
        <th>Average/Hour</th>
        <th>Average/Hour/Client</th>
        <th>Average/Last hour/Client</th>
        <th>Download Results</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ spider_state }}</td>
        <td>{{ time_to_wakeup_mins |floatformat }} mins</td>
        <td>{{ record_count }}</td>
        <td>{{ record_count_last_hour|floatformat }}</td>
        <td>{{ time_taken_hours }} hours - {{ time_taken_mins }} mins - 
          {{ time_taken_seconds }} seconds</td>
        <td>{{ average_hour|floatformat }}</td>
        <td>{{ average_hour_client|floatformat }}</td>
        <td>{{ average_last_hour_client|floatformat }}</td>
        <td><a href="{% url 'spider_download' spider_id %}"> 
          <span class="glyphicon glyphicon-cloud-download"></span></a></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
  <h3 class="page-header">Controls</h3>
    <form method="POST" action="{% url 'spider_start' spider_id %}">{% csrf_token %}
      {# if it's not running, you can't stop it #}
      <button type="submit" class="btn btn-default {% if spider_state|lower != "stopped" %}disabled{% endif %}" role="button"> 
        <span class="glyphicon glyphicon-play"></span> Start</button>
    </form>
    <form class="form-inline" method="POST" action="{% url 'spider_pause' spider_id %}">{% csrf_token %}
      {# if it's not running, you can't pause it #}
      <button type="submit" class="btn btn-default {% if spider_state|lower != "running" %}disabled{% endif %}" role="button">
      <span class="glyphicon glyphicon-pause"></span> Pause</button>
    </form>
    <form class="form-inline" method="POST" action="{% url 'spider_resume' spider_id %}">{% csrf_token %}
      {# if the user didn't pause it, you can't resume it #}
      <button type="submit" class="btn btn-default {% if spider_state|lower != "user-paused" %}disabled{% endif %}" role="button">
      <span class="glyphicon glyphicon-step-forward"></span> Resume</button>
    </form>
    <form class="form-inline" method="POST" action="{% url 'spider_shutdown' spider_id %}">{% csrf_token %}
      {# if it's stopped, you can't stop it #}
        <button type="submit" class="btn btn-default {% if spider_state|lower == "stopped" %}disabled{% endif %}" role="button">
        <span class="glyphicon glyphicon-stop"></span> Shutdown</button>
    </form>
     <div class="row">
      <h3 class="page-header">Server Log</h3>
      <div class="col-md-10 col-md-offset-1">
        <textarea class="server-log" rows="10" cols="100" readonly>{{ server_log|escape }}</textarea>
      </div>
     </div>
    {% include "_dialog_div.html" %}
{% endblock %}