{% extends "base.html" %}
{% load bootstrap %}
{% block subtitle %}Login{% endblock %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
<h1 class="page-header">Enter login details</h1>
<form role="form" method="POST" action="">{% csrf_token %}
  {{ form|bootstrap }}
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endblock %}